@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: black;
}

.home-subtitle {
  font-size: 1.75rem;
  letter-spacing: 2.35px;
}

h3 {
  font-size: 56px;
  color: white;
}

h4 {
  font-size: 32px;
  color: white;
}

h5 {
  font-size: 28px;
  letter-spacing: 4.75px;
  color: white;
}

p {
  font-family: sans-serif;
  color: white;
}

.sub-heading-1 {
  font-size: 28px;
  color: white;
}

.blur-background {
  backdrop-filter: blur(1.5rem);
  background-color: hsl(0, 0%, 100%) / 0.05;
}

.nav-text {
  font-size: 16px;
  letter-spacing: 2.7px;
  color: white;
}
